<!DOCTYPE html>
<html>
 <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
      <section>
    <h1>Todos los resultados para autos <%- marcaAuto %> </h1>
        <% for (let auto of autos) { %>
          <article>
            <h2><%- auto.modelo %></h2>
            <p>Año: <%- auto.anio %></p>
            <p>Color: "<%- auto.color %>"</p>
          </article>
        <% } %>
      </section>
    <%- include('./shared/footer')%>
  </body>
</html>