<!DOCTYPE html>
<html>
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <main class="vistaDatos">
      <section class="tituloDatos">
        <h1>Todos los resultados para autos <%- marcaAuto %></h1>
      </section>
      <section class="contenedorDatos">
        <% for (let auto of autos) { %>
        <article class="datos">
          <h2><%- auto.modelo %></h2>
          <p>Año: <%- auto.anio %></p>
          <p>Color: "<%- auto.color %>"</p>
        </article>
        <% } %>
      </section>
    </main>

    <%- include('./shared/footer')%>
  </body>
</html>
