<!DOCTYPE html>
<html>
 <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <h1>Bienvenido a la Concesionaria Express</h1>
   <p>Por favor, elige una concesionaria de las disponibles: </p>
<ul>
  <%for (let sucursal of concesionarias) {%>
    <li><a href="/sucursales/<%- sucursal.sucursal%>"><%- sucursal.sucursal%></a></li>
    <% } %>
</ul>
<%- include('./shared/footer')%>
  </body>
</html>
