<!DOCTYPE html>
<html lang="es">
  <%- include('./shared/head')%>
<body>
  <h1>Todas nuestras sucursales</h1>

  <%for (let sucursal of sucursales) {%>
  <article>
    <h3><a href="/sucursales/<%- sucursal.sucursal%>"><%- sucursal.sucursal%></a></h3>
    <span><%- sucursal.direccion%></span>
    <br>
    <span><%- sucursal.telefono%></span>
  </article>
  <%}%>
</body>
</html>