<!DOCTYPE html>
<html lang="es">
<%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <main class="vistaSucursales">
      <section class="sucursales">
        <h1>Todas nuestras sucursales</h1>
        <div class="listaSucursales">
          <%for (let sucursal of sucursales) {%>
            <a href="/sucursales/<%- sucursal.sucursal%>">
            <article class="infoSucursal">
              <h3 class="nombreSucursal"><i class="fa-solid fa-location-dot"></i><%- sucursal.sucursal%></h3>
              <p><%- sucursal.direccion%></p>
              <p><%- sucursal.telefono%></p>
            </article>
            </a>
            <%}%>
        </div>
      </section>
    </main>
      <%- include('./shared/footer')%>
  </body>

</html>