<!DOCTYPE html>
<html lang="en">
  <%- include('./shared/head')%>
  <body>
    <%- include('./shared/header')%>
    <main class="vistaSucursal">
      <section class="datosSucursal">
        <div class="textoDatosSucursal">
          <h1>Sucursal <%- sucursal.sucursal%></h1>
          <h3><%- sucursal.direccion%></h3>
          <p><%- sucursal.telefono%></p>
      </div>
       <div class="imagenDatosSucursal">
        <img src="<%- sucursal.imagen %>" alt="imagen de sucursal">
       </div>
        
      </section>
      <section class="autosSucursal">
        <div class="infoAutosSucursal">
          <h2>Nuestros autos</h2>
          <p>Tenemos un total de <%- sucursal.autos.length%> autos</p>
        </div>
        <div class="autosSucursalContenedor">
          <%for (let auto of sucursal.autos) {%>
          <article class="autoDeSucursal">
            <h3><%- auto.marca%> <%- auto.modelo%></h3>
            <p>Año <%-auto.anio%></p>
            <p><%- auto.color%></p>
          </article>
          <%}%>
        </div>
      </section>
    </main>

    <%- include('./shared/footer')%>
  </body>
</html>
